/* 
from: color palette
*/

//global
//paragraph text 
$global_paragraph-text-black-32: #323232;

//text label style 
$global_text-label-style-silver-af: #afafaf;

//text field border
$global_text-field-border-mercury-e1: #e1e1e1; 

//text field background fill
$global_text-field-background-fill-alabaster-fa: #fafafa;


//instock colors
//navigation and background fill
$brainflix_navigation-background-fill-black-32: #323232;

//primary cta and text link
$brainflix_primary-cta-and-text-link-blue-004892: #004892;

//primary cta hover
$brainflix-color_primary-cta-hover-brainflix-blue-0065AD: #0065AD;


//bandsite
//navigation background fill
$bandsite_navigation-background-fill-black-32: #323232; 

//primary cta 
$bandsite_primary-cta-black-32: #323232; 

//primary cta hover 
$bandsite_primary-cta-hover-brainflix-blue: #0065AD;
